.carousel{
    max-width: 700px;
    margin: auto;
}
#modelos{
    text-align: center;
    margin: auto;
    padding: auto;
}
.row{
    padding: 50px;
}
.email{
    max-width: 700px;
    margin: auto;
}
.rodape{
    text-align: center;
}